@media screen and (max-width: 500px) {

  html {
    font-size: 16;
    line-height: 24px;
  }

  .main > .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px 0px 10px;
    width : 300px;
  }

  .main {
    display: block;
    text-align: left;
    max-width : 400px;
    height : auto;
  }

  p {
    line-height: 24px;
  }

}

