ul {
  display: inline-block;
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

li {
	padding-right: 10px;

}

p {
  margin: 0;
  margin-bottom: 10px;
}

a {
  text-align: left;
}

h1,h2,h3,h4,h5 {
  color: #555;
}

*::selection {
  background: #88C0D0;
}


a:link, a:visited, a:active { 
  color: #999; outline: none;  text-decoration: none;
}

a:hover { color: #289; text-decoration: none;}

.prof_pic {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark){
	body {color:#fff;background:#000}
	a:link {color:#cdf}
	a:hover, a:visited:hover {color:#def}
	a:visited {color:#dcf}
}
body{
	margin:1em auto;
	max-width:40em;
	padding:0 .62em;
	font:1.2em/1.62 sans-serif
}
h1,h2,h3 {
	line-height:1.2
}
@media print{
	body{
		max-width:none
	}
}
