html {
  color-scheme: dark light;
  font-family: Courier New;
  border: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.sidebar {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-right: 40px;
}

.content {
  width: 800px;
  display: inline;
  text-align: left;
}

.main {
  display: flex;
  text-align: center;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

img {
  max-width: 100px;
  height: auto;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

a {
  text-align: left;
}

.video-container {
	object-fit: cover;
	text-align: center;
}

.video-container video {
	width: 100%;
	height: auto;
	max-height: 320px;
	margin-bottom: 10px;
	
}

h1,h2,h3,h4,h5 {
  color: #555;
}

blockquote {
  font-family: serif; /* Elegant right? */
  background: #eee;
  border-left: 5px solid #ccc;
}
/* This if for indenting after gray border-left */
blockquote > p {
  padding-left: 10px;
}


*::selection {
  background: #88C0D0;
}


a:link, a:visited, a:active { 
  color: #999; outline: none;  text-decoration: none;
}

a:hover { color: #289; text-decoration: none;}
